In [1]:
import pandas as pd
import numpy as np

In [2]:
f = open("transito.txt", 'r')
lines = f.readlines()
rows = []
for l in lines:
    ltemp = [c for c in l.strip().split(" ") if len(c)>0]
    rows.append(ltemp)

In [3]:
colunas = rows[0]
df = pd.DataFrame(rows[1:], columns=colunas)
df.head()

   C  F  E  R  A
0  1  0  1  1  1
1  0  0  0  0  0
2  0  1  1  0  0
3  0  0  0  0  1
4  0  0  0  0  0

# a)

In [4]:
# a priori
pC0 = df['C'].value_counts()[0]/df.shape[0]
pC1 = df['C'].value_counts()[1]/df.shape[0]
pF0 = df['F'].value_counts()[0]/df.shape[0]
pF1 = df['F'].value_counts()[1]/df.shape[0]

ap = {'C':[pC0, pC1], 'F':[pF0, pF1]}
df_ap = pd.DataFrame(ap)

In [5]:
# probabilidade apriori (P(C) e P(F))
df_ap

      C     F
0  0.52  0.78
1  0.48  0.22

In [6]:
# P(R)
cr_counts = df.groupby('C')['R'].value_counts()/df.groupby('C')['R'].count()
df_crcounts = cr_counts.unstack()
df_crcounts.fillna(0, inplace=True)
# P(A)
a_re_counts = df.groupby(['R','E'])['A'].value_counts()/df.groupby(['R','E'])['A'].count()
df_arecounts = a_re_counts.unstack()
df_arecounts.fillna(0, inplace=True)
# P (E)
e_cf_counts = df.groupby(['C','F'])['E'].value_counts()/df.groupby(['C','F'])['E'].count()
df_ecfcounts = e_cf_counts.unstack()
df_ecfcounts.fillna(0, inplace=True)

In [7]:
# P(R|C)
df_crcounts

R         0         1
C
0  1.000000  0.000000
1  0.208333  0.791667

In [8]:
# P(A|R,E)
df_arecounts

A           0         1
R E
0 0  0.875000  0.125000
  1  0.857143  0.142857
1 0  0.250000  0.750000
  1  0.133333  0.866667

In [9]:
# P(E|C,F)
df_ecfcounts

E           0         1
C F
0 0  1.000000  0.000000
  1  0.200000  0.800000
1 0  0.333333  0.666667
  1  0.000000  1.000000

# b)

In [10]:

p = 0
for r in ['0','1']:
    for c in ['0','1']:
        for f in ['0','1']:
            # A, R, E | R,C | E, C, F
            p +=df_arecounts['1'][r]['0'] * df_crcounts[r][c] * df_ecfcounts['0'][c][f] * df_ap['C'].iloc[int('{}'.format(c))] * df_ap['F'].iloc[int('{}'.format(f))]
print ("P(A=1|E=0) = ", p)

P(A=1|E=0) =  0.13091

# c)

In [12]:
p = 0
for a in ['0']:
    for e in ['1']:
        for r in ['1']:
            for c in ['0','1']:
                for f in ['0','1']:
                    # A, R, E | R,C | E, C, F
                    p +=df_arecounts[a][r][e] * df_crcounts[r][c] * df_ecfcounts[e][c][f] * df_ap['C'].iloc[int('{}'.format(c))] * df_ap['F'].iloc[int('{}'.format(f))]
print ("P(A=0|R=1, E=1) =",p)

P(A=0|R=1, E=1) = 0.03749333333333333

# d)

Chuva e Feriado são independente entre si e ambos são independentes das outras variáveis, logo

P(C=1, F=1 | R=1, A=1, E=1) = P(C=1,F=1)

In [16]:
# p = 0
# for a in ['1']:
#     for e in ['1']:
#         for r in ['1']:
#             for c in ['1']:
#                 for f in ['1']:
#                     # A, R, E | R,C | E, C, F
#                     p +=df_arecounts[a][r][e] * df_crcounts[r][c] * df_ecfcounts[e][c][f] * df_ap['C'].iloc[int('{}'.format(c))] * df_ap['F'].iloc[int('{}'.format(f))]

p = df_ap['C'].iloc[1]*df_ap['F'].iloc[1]
print ("P(C=1,F=1)=",p)

P(C=1,F=1)= 0.1056